
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  padding: 20px;
  }

  .box:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border: solid slateblue 2px ;
    padding: 40px;
    background-color: rgb(165, 154, 231);
    box-shadow: gray 12px;
    justify-items: space-around;

    
    }

.box:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    border: solid slategray;
    background-color: rgb(230, 221, 221);
    padding: 40px;
    }
    
    button{
      border-radius: 8px;
    }


    .buttonOk{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }

    .save {
      color: rgb(80, 255, 255);
font-size: 12px;
padding: 8px;
text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 8.108108108108109px;
-moz-border-radius: 8.108108108108109px;
border-radius: 8.108108108108109px;
background: rgb(210, 20, 20);
background: -moz-linear-gradient(94deg, rgb(210, 20, 20) 50%, rgb(250, 20, 20) 59%);
background: -webkit-linear-gradient(94deg, rgb(210, 20, 20) 50%, rgb(250, 20, 20) 59%);
background: -o-linear-gradient(94deg, rgb(210, 20, 20) 50%, rgb(250, 20, 20) 59%);
background: -ms-linear-gradient(94deg, rgb(210, 20, 20) 50%, rgb(250, 20, 20) 59%);
background: linear-gradient(4deg, rgb(210, 20, 20) 50%, rgb(250, 20, 20) 59%);
-webkit-box-shadow: 0px 2px 15px rgba(50, 50, 50, 0.77);
-moz-box-shadow:    0px 2px 15px rgba(50, 50, 50, 0.77);
box-shadow:         0px 2px 15px rgba(50, 50, 50, 0.77);

    }